*{ 
    margin: 0px;
    padding:0px;
    font-family: Roboto,'Poppins', sans-serif;
}

.header-bar{
    height:60px;
    top:0;
    left:0;
    right:0;
    padding: 0px 0%;
    overflow:hidden;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: rgb(7, 92, 177);
    border-bottom-style:solid;
    border-color: rgb(1,61,123);
    border-width: 1px;
    z-index:100;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
}

.logo{
    width:50px;
    margin-right: 380px;
}

.header-block2{
    display:flex;
    flex-direction:row;
    justify-content: end;
    min-width:230px;  
}

.header-block2 button{
    color:rgb(1,61,123);
    background-color: rgb(146, 196, 226);
    border-radius: 5px;
    border-width:1px;
    height:28px;
    margin:0 5px;
    padding:2px 4px;
}

.header-block2 button:hover{
    box-shadow:inset 2px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.15s;
}

.header-block3{
    color:white;
}

body{
    height:1000px;
}

body main{
    padding:20px;
    background-image: url(images/bckgrnd.png); 
    background-position-y: bottom;
    background-position-x: -10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 800px;
    display:flex;
    
}

.opening-block{
    height:80%;
    margin-top:60px;
    display:flex;
    align-items: center;
    justify-content:center;
    background-image:url(/images/profile.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position-y:bottom;
    background-position-x: 15%;
    background-color: rgba(237, 192, 125, 0.105);
    box-shadow: inset 0px 20px 80px rgba(0, 0, 0, 0.5);

}

.opening-block p{
    font-size: 28px;
    font-weight:bold;
    height: 80px;
    
}

.body-block1{
    color: rgb(1,61,123);
    max-width:50%;
}

.body-block2{
    color: rgb(1,61,123);
    width:50%;
    display:flex;
    grid-template-columns: 1fr 1fr;
    justify-content:center;
    margin: 50px 20px;  
    text-align:center;  
}

.subheading{
    color: rgb(1,61,123);
    font-size:18px;
}

ul li{
    margin-left:30px;
    padding-inline-start: 15px;
}
.block1-column1 div{
    color:black;
}

.button-42, .button-about{
    height:20px;
    color:rgb(146, 196, 226);
    background-color: rgb(1,61,123);
    border-radius: 5px;
    border-width:1px;
    height:28px;
    margin:0 5px;
    padding:2px 4px;
    max-width:50%;
}
.button-42:hover, .button-about:hover{
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}

.degree{
    color:rgba(1,61,123, 1);
    font-size: 20px;
}
.period{
    font-size: 12px;
    color: rgba(1,61,123, 0.7);
    font-style: italic;
    margin-left:20px;
}
.institute{
    color:grey;
    font-size: 12px;
    padding-left:30px;
}

h1{
    border-bottom-style: solid;
    border-color:grey;
}

footer{
    height:60px;
    border-top-style: solid;
    border-width: 1px;
    border-color: rgb(96, 174, 222);
    background-color: rgb(146, 196, 226);
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.exp-column{margin-bottom:10px;

}

.previous-work{
    width:250px;
    height:300px;
    border:solid;
    border-color: rgba(1,61,123, 1);
}
.previous-work:hover{
    cursor: pointer;
}

.github-link{
    background-color:rgba(1,61,123, 1);
    color:white;
    margin:5px;
    padding:4px;
    border-radius:10px;
}

.github-link:hover{
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.15s;
}

.workplace{
    color:grey;
    font-size:16;
}

